@model RepairShop.Models.Service

@{
	ViewData["Title"] = "Details";
	var userDevices = (List<SelectListItem>)ViewData["user_devices"];
}

<h2>Details</h2>
<a asp-action="Index">&lt; Back to Products</a>
<div>
    <h4>Service</h4>
    <hr />
	<div class="col-md-6">
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Title)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Title)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Price)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Price)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Description)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Description)
			</dd>
		</dl>
	</div>

	<div class="col-md-6">
		<form asp-controller="Services" asp-action="AddToCart">
			<div class="form-group">
				<div class="row">
					<label for="DeviceId" class="col-md-3 control-label">Choose your device</label>
					<div class="col-md-9">
						@Html.DropDownList("DeviceId", userDevices, new { @class = "form-control" })
					</div>
				</div>
				<div class="row">
					<label for="Quantity" class="col-md-3 control-label">Quantity</label>
					<div class="col-md-9">
						<input id="Quantity" name="Quantity" class="form-control" type="number" />
					</div>
					<input id="ServiceId" name="ServiceId" type="text" class="hidden" value="@Model.Id" />
					<input type="submit" class="btn btn-primary" value="Add To Cart" />
				</div>
			</div>
		</form>
	</div>
</div>
